{
  "apps/nextjs/**/*.{js,jsx,ts,tsx,mjs,cjs}": [
    "eslint --config ./apps/nextjs/eslint.config.mjs --fix",
    "eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,mjs,cjs,json,css}": ["prettier --write"]
}
