# Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

# API
NEXT_PUBLIC_BASE_API_URL="http://localhost:1337"

# Debug
NEXT_PUBLIC_DEBUG_MODE=false

# Example
NEXT_PUBLIC_EXAMPLE_URL="https://just-example-url"