# Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

# JWT
NEXT_PUBLIC_REFRESH_BUFFER_MS="15s"
NEXT_PUBLIC_ACCESS_TOKEN_EXPIRES_IN="15m"
NEXTAUTH_SESSION_EXPIRES_IN="7d"

# The secret code must be the same as the Back end code, otherwise the refresh token will not work.
REFRESH_TOKEN_COOKIE_SECRET=

# API
NEXT_PUBLIC_BASE_API_URL="http://localhost:1337"

# Debug
NEXT_PUBLIC_DEBUG_MODE=false