# Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

# JWT
NEXT_PUBLIC_REFRESH_BUFFER_MS="15s"
NEXT_PUBLIC_ACCESS_TOKEN_EXPIRES_IN="15m"
NEXTAUTH_SESSION_EXPIRES_IN="7d"

# API
NEXT_PUBLIC_BASE_API_URL="http://localhost:1337"

# Debug
NEXT_PUBLIC_DEBUG_MODE=false

# Example
NEXT_PUBLIC_EXAMPLE_URL="https://just-example-url"