# Port
ELYSIA_PORT=1337

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/local"
DB_BACKUP_DIR="./backups/database"
DB_BACKUP_RETENTION_DAYS=365

# Logger
LOG_LEVEL="info"
LOG_DIR="./backups/logs"
LOG_RETENTION_DAYS=365

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_REFRESH_COOKIE_NAME="refreshToken"
JWT_REFRESH_COOKIE_PATH="/auth"
JWT_REFRESH_COOKIE_SAME_SITE="Lax"
JWT_REFRESH_COOKIE_SECURE=false

# CORS
CORS_ORIGINS=["http://127.0.0.1:3000","http://localhost:3000","https://boilerplate.zettara.com"]

# Redis
REDIS_URL="redis://localhost:6379"